body {
  font: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(to right, red, yellow);
}

h1 {
  font: 600 3.5em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h3 {
  font: 900 1em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

button {
  font: 900 1em "Raleway", sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0, 0.5);
  background-color: rgba(240, 217, 217, 0.493);
  padding: 20px;
  font-size: 30px;
  border: 2px solid rgb(116, 252, 245);
  border-radius: 25px;
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em whitesmoke;
  transform: translateY(-0.25em);
}

button:focus {
  outline: none;
}
